/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body,
html {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400; }

h2, h2 a {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 30px; } }

h3, h3 a {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 24px; } }

h4, h4 a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #151515; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 18px;
  font-weight: 600; }

h6, h6 a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600; }
  @media only screen and (max-width: 1499px) {
    h6, h6 a {
      font-size: 14px; } }

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #777777; }
  @media only screen and (max-width: 1499px) {
    p {
      font-size: 14px; } }

span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Open Sans", sans-serif;
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  padding: 8px 15px;
  border: 1px solid;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50px;
  line-height: 2.1em;
  min-width: 147px;
  color: #ffffff; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid;
  -webkit-box-shadow: none;
  box-shadow: none; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #151515;
  font-size: 18px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 55px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #b5b2b2; }

.form-control::-moz-placeholder {
  color: #b5b2b2; }

.form-control:-ms-input-placeholder {
  color: #b5b2b2; }

input:-moz-placeholder {
  color: #b5b2b2; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 50px;
  outline: medium none;
  padding: 5px;
  text-indent: 1px;
  text-transform: none;
  width: 100%;
  background: white url("../images/select-arrow.png") no-repeat scroll 80% center; }

select::-ms-expand {
  display: none; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #e70000; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
.header .header-top {
  text-align: right;
  background: #ffffff;
  padding: 15px 0px; }
  .header .header-top ul li {
    list-style: none;
    margin: 0 10px;
    vertical-align: middle; }
    .header .header-top ul li:after {
      content: "";
      background: #151515;
      height: 11px;
      width: 2px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
    .header .header-top ul li:last-child {
      margin-right: 0px; }
      .header .header-top ul li:last-child:after {
        display: none; }
    .header .header-top ul li a {
      font-size: 15px;
      color: #151515; }
      .header .header-top ul li a:hover {
        color: #e70000; }
    .header .header-top ul li form {
      display: inline-block; }
      .header .header-top ul li form .form-group {
        margin-bottom: 0px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle; }
      .header .header-top ul li form label {
        margin-bottom: 0px; }
    .header .header-top ul li select.form-control {
      border: none;
      padding: 0px;
      font-size: 15px;
      text-transform: uppercase;
      height: inherit; }

.header .header-middle {
  background: #151515;
  padding: 5px 0px;
  overflow: hidden; }
  .header .header-middle .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header .header-middle .navbar-header {
    -ms-flex-item-align: center;
    align-self: center; }
  .header .header-middle .addtoCart {
    -ms-flex-item-align: center;
    align-self: center; }
    .header .header-middle .addtoCart ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header .header-middle .addtoCart li {
      -ms-flex-item-align: center;
      align-self: center; }
      .header .header-middle .addtoCart li:first-child {
        margin-right: 20px; }
      .header .header-middle .addtoCart li a {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        text-transform: uppercase; }
        .header .header-middle .addtoCart li a:before {
          content: "\f07a";
          font-family: FontAwesome;
          margin-right: 8px; }
        .header .header-middle .addtoCart li a:hover {
          opacity: 0.5; }
  .header .header-middle .search-form input[type="search"] {
    width: 630px;
    height: 47px;
    border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 2px 45px 2px 15px; }
  .header .header-middle .search-form .form-group {
    margin-bottom: 0px;
    position: relative; }
  .header .header-middle .search-form .search-submit {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #151515;
    min-width: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .header .header-middle .search-form .search-submit:before {
      content: "\f002";
      font-size: 16px;
      font-family: FontAwesome;
      text-align: center;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      width: 35px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .header .header-middle .search-form .search-submit:hover:before {
      background: #e70000;
      color: #ffffff;
      border-radius: 100%;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }

.header .header-bottom {
  border-bottom: 1px solid #151515; }
  .header .header-bottom .navbar {
    padding: 0px; }
    .header .header-bottom .navbar .toggle {
      margin-left: 0px;
      margin-right: 40px; }
      .header .header-bottom .navbar .toggle a {
        font-size: 40px;
        color: #151515; }
  .header .header-bottom .navbar-nav > li {
    margin: 0 24px; }
    .header .header-bottom .navbar-nav > li span {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    @media only screen and (max-width: 1499px) {
      .header .header-bottom .navbar-nav > li {
        margin: 0 10px; } }
    .header .header-bottom .navbar-nav > li:last-child {
      margin-right: 0px; }
  .header .header-bottom .navbar-nav > li > a {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #151515;
    display: inline-block; }
  .header .header-bottom .navbar-nav .nav-link {
    padding: 0px !important; }

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #e70000;
  background-color: transparent; }

/*----------Sidebar Menu -----------*/
.main-side-canvas {
  background: #333;
  overflow: hidden;
  z-index: 1001;
  outline: 0;
  left: -250px;
  top: 0;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatex(-250px);
  -ms-transform: translatex(-250px);
  transform: translatex(-250px);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .main-side-canvas li {
    border-bottom: 1px solid #262626; }
    .main-side-canvas li a {
      padding: 10px 20px;
      display: block;
      font-size: 14px;
      color: #ffffff;
      background: #333; }
      .main-side-canvas li a:hover {
        background: #414141; }
  .main-side-canvas h5 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    background: #414141;
    margin-bottom: 0px;
    border-bottom: 1px solid #262626; }
  .main-side-canvas .card {
    border-bottom: 1px solid #262626;
    border-left: none;
    border-right: none;
    border-top: none; }
    .main-side-canvas .card .card-header {
      position: relative;
      background: #333;
      border-radius: 0px;
      border: none;
      padding: 0px; }
      .main-side-canvas .card .card-header h6 {
        margin-bottom: 0px; }
        .main-side-canvas .card .card-header h6 span {
          position: absolute;
          right: 15px;
          color: #8e8e8e;
          margin-right: 10px; }
        .main-side-canvas .card .card-header h6 a {
          color: #ffffff;
          text-transform: capitalize;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          padding: 10px 20px;
          display: block; }
      .main-side-canvas .card .card-header:hover {
        background: #414141; }
    .main-side-canvas .card .card-link:after {
      content: "\f0d7";
      font-family: FontAwesome;
      position: absolute;
      right: 10px;
      color: #03a9ff; }
    .main-side-canvas .card .card-link.collapsed:after {
      content: "\f0da";
      font-family: FontAwesome;
      position: absolute;
      right: 10px;
      color: #03a9ff; }
  .main-side-canvas .panel-body {
    background: #333; }
    .main-side-canvas .panel-body ul li {
      list-style: none; }
      .main-side-canvas .panel-body ul li a {
        padding-left: 30px; }

.off-canvas-wrapper-inner {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.sidebar-menu {
  background: #333;
  overflow-x: hidden; }
  .sidebar-menu .off-canvas-wrapper-inner {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .sidebar-menu .main-side-canvas {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .sidebar-menu .wrapper {
    cursor: pointer;
    background: #ffffff; }
  .sidebar-menu .menu-canvas {
    opacity: 1;
    pointer-events: auto;
    right: 0; }

.menu-canvas {
  background: rgba(37, 41, 51, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.search-area {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg=="), progress;
  height: 100%;
  width: 100%; }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*----- Common Css ------*/
.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 80px;
  z-index: 99;
  cursor: pointer; }
  @media only screen and (max-width: 1499px) {
    .slick-arrow {
      font-size: 50px; } }
  .slick-arrow i {
    color: #fe81b8; }
  .slick-arrow.slick-prev {
    left: 10px; }
  .slick-arrow.slick-next {
    right: 10px; }

/*----- Home Content -----*/
.section-block-homeContent {
  padding: 30px 0px; }
  .section-block-homeContent .adv-sec {
    margin-bottom: 30px; }
    .section-block-homeContent .adv-sec a {
      display: block; }
    .section-block-homeContent .adv-sec .adv-img-sec1 .featured-thumb {
      min-height: 578px; }
      @media only screen and (max-width: 1499px) {
        .section-block-homeContent .adv-sec .adv-img-sec1 .featured-thumb {
          min-height: 400px; } }
    .section-block-homeContent .adv-sec .adv-img-sec2 .featured-thumb {
      min-height: 267px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .section-block-homeContent .adv-sec .adv-img-sec2 .featured-thumb {
          min-height: 185px; } }
      .section-block-homeContent .adv-sec .adv-img-sec2 .featured-thumb a:before {
        background: rgba(0, 0, 0, 0.5);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .section-block-homeContent .adv-sec .adv-img-sec2 .featured-thumb a:hover:before {
        opacity: 1; }
      .section-block-homeContent .adv-sec .adv-img-sec2 .featured-thumb:first-child {
        margin-bottom: 30px; }

/*----- Grid Slider -----*/
.grid-column {
  margin-bottom: 30px; }
  .grid-column h3 {
    background: #e8ebee;
    margin-bottom: 0px;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase; }
  .grid-column .grid-slider {
    margin-bottom: 20px; }
    .grid-column .grid-slider a {
      display: block; }
    .grid-column .grid-slider .featured-thumb {
      min-height: 385px; }
      @media only screen and (max-width: 1499px) {
        .grid-column .grid-slider .featured-thumb {
          min-height: 250px; } }
  .grid-column .grid-item a {
    display: block; }
  .grid-column .grid-item .featured-thumb {
    height: 205px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; }
    @media only screen and (max-width: 1499px) {
      .grid-column .grid-item .featured-thumb {
        height: 150px; } }
    .grid-column .grid-item .featured-thumb:before {
      background: rgba(0, 0, 0, 0.5);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .grid-column .grid-item .featured-thumb:hover:before {
      opacity: 1; }
  .grid-column .grid-item h6 {
    margin-bottom: 0px;
    display: block; }
    .grid-column .grid-item h6 a {
      font-size: 14px;
      color: #151515;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block; }
      .grid-column .grid-item h6 a:hover {
        color: #e70000; }
  .grid-column .grid-item .content {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0px;
    margin-bottom: 5px; }
  .grid-column .grid-item .price-sec {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .grid-column .grid-item .price-sec .star {
      display: inline-block;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .grid-column .grid-item .price-sec .star li {
        margin: 0px; }
        .grid-column .grid-item .price-sec .star li a {
          color: #e99a00; }
        .grid-column .grid-item .price-sec .star li span {
          color: #8e8e8e; }
    .grid-column .grid-item .price-sec .price {
      display: inline-block;
      float: right;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .grid-column .grid-item .price-sec .price span {
        display: block; }
        .grid-column .grid-item .price-sec .price span .strick {
          text-decoration: line-through; }
        .grid-column .grid-item .price-sec .price span:first-child {
          font-size: 13px;
          color: #151515;
          display: inline-block; }
          @media only screen and (max-width: 1499px) {
            .grid-column .grid-item .price-sec .price span:first-child {
              font-size: 11px; } }
        .grid-column .grid-item .price-sec .price span:nth-child(2) {
          font-size: 16px;
          color: #e70000;
          font-weight: 600; }
          @media only screen and (max-width: 1499px) {
            .grid-column .grid-item .price-sec .price span:nth-child(2) {
              font-size: 13px; } }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
footer .bdr-top {
  border-top: 1px solid #ebebeb;
  padding: 30px 0px; }

footer h6 {
  color: #555555; }

footer .footer-top {
  overflow: hidden; }
  footer .footer-top h6 {
    margin-bottom: 20px; }
  footer .footer-top .social-share {
    float: left;
    width: 30%; }
    footer .footer-top .social-share li a {
      border-radius: 100%;
      font-size: 20px;
      color: #ffffff;
      height: 33px;
      width: 33px;
      display: inline-block;
      text-align: center;
      padding: 2px;
      border: 1px solid;
      position: relative; }
      footer .footer-top .social-share li a i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0; }
    footer .footer-top .social-share li.facebook a {
      background: #3b5998;
      border-color: #3b5998; }
    footer .footer-top .social-share li.insta a {
      background: #3f729b;
      border-color: #3f729b; }
    footer .footer-top .social-share li.twitter a {
      background: #26a6d1;
      border-color: #26a6d1; }
    footer .footer-top .social-share li.pint a {
      background: #cb2027;
      border-color: #cb2027; }
    footer .footer-top .social-share li:hover a {
      background: #ffffff; }
    footer .footer-top .social-share li:hover.facebook a {
      color: #3b5998; }
    footer .footer-top .social-share li:hover.insta a {
      color: #3f729b; }
    footer .footer-top .social-share li:hover.twitter a {
      color: #26a6d1; }
    footer .footer-top .social-share li:hover.pint a {
      color: #cb2027; }
  footer .footer-top .subscribe-sec {
    float: left;
    width: 70%; }
    footer .footer-top .subscribe-sec form {
      position: relative; }
      footer .footer-top .subscribe-sec form button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
        background: #03a9ff;
        border-color: #03a9ff; }
        footer .footer-top .subscribe-sec form button:hover {
          background: #151515;
          border-color: #151515; }
      footer .footer-top .subscribe-sec form input[type="email"] {
        padding: 2px 170px 2px 20px; }

footer .footer-middle {
  overflow: hidden; }
  footer .footer-middle .link-wrap {
    width: 35%;
    float: left;
    margin-right: 30px; }
    footer .footer-middle .link-wrap .link-sec {
      float: left;
      width: 55%;
      margin-right: 20px; }
      footer .footer-middle .link-wrap .link-sec li {
        list-style: none; }
        footer .footer-middle .link-wrap .link-sec li a {
          color: #777777;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 16px;
          display: inline-block; }
          @media only screen and (max-width: 1499px) {
            footer .footer-middle .link-wrap .link-sec li a {
              font-size: 14px; } }
          footer .footer-middle .link-wrap .link-sec li a:hover {
            color: #e70000; }
      footer .footer-middle .link-wrap .link-sec:last-child {
        margin-right: 0px;
        width: 35%; }
  footer .footer-middle .content {
    width: 60%;
    float: left;
    padding-left: 50px;
    border-left: 2px solid #ebebeb; }
    footer .footer-middle .content p {
      margin-bottom: 0px; }
    footer .footer-middle .content h6 {
      margin-bottom: 20px; }

footer .footer-bottom {
  text-align: center; }
  footer .footer-bottom h5 {
    color: #555555; }
  footer .footer-bottom span {
    color: #777777; }

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1346px; } }
