/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

footer {
    .bdr-top {
        border-top: 1px solid $grey-bdr;
        padding: 30px 0px;
    }
    h6 {
        color: #555555;
    }
    .footer-top {
        overflow: hidden;
        h6 {
            margin-bottom: 20px;
        }
        .social-share {
            float: left;
            width: 30%;
            li {
                a {
                    border-radius: 100%;
                    font-size: 20px;
                    color: $color-white;
                    height: 33px;
                    width: 33px;
                    display: inline-block;
                    text-align: center;
                    padding: 2px;
                    border: 1px solid;
                    position: relative;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                    }
                }
                &.facebook {
                    a {
                        background: #3b5998;
                        border-color: #3b5998;
                    }
                }
                &.insta {
                    a {
                        background: #3f729b;
                        border-color: #3f729b;
                    }
                }
                &.twitter {
                    a {
                        background: #26a6d1;
                        border-color: #26a6d1;
                    }
                }
                &.pint {
                    a {
                        background: #cb2027;
                        border-color: #cb2027;
                    }
                }
                &:hover {
                    a {
                        background: $color-white;
                    }
                    &.facebook {
                        a {
                            color: #3b5998;
                        }
                    }
                    &.insta {
                        a {
                            color: #3f729b;
                        }
                    }
                    &.twitter {
                        a {
                            color: #26a6d1;
                        }
                    }
                    &.pint {
                        a {
                            color: #cb2027;
                        }
                    }
                }
            }
        }
        .subscribe-sec {
            float: left;
            width: 70%;
            form {
                position: relative;
                button {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 0;
                    background: #03a9ff;
                    border-color: #03a9ff;
                    &:hover {
                        background: $black;
                        border-color: $black;
                    }
                }
                input[type="email"] {
                    padding: 2px 170px 2px 20px;
                }
            }
        }
    }
    .footer-middle {
        overflow: hidden;
        .link-wrap {
            width: 35%;
            float: left;
            margin-right: 30px;
            .link-sec {
                float: left;
                width: 55%;
                margin-right: 20px;
                li {
                    list-style: none;
                    a {
                        color: #777777;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        font-size: 16px;
                        display: inline-block;
                        @include breakpoint(x-normal) {
                            font-size: 14px;
                        }
                        &:hover {
                            color: $color-red;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0px;
                    width: 35%;
                }
            }
        }
        .content {
            width: 60%;
            float: left;
            padding-left: 50px;
            border-left: 2px solid $grey-bdr;
            p {
                margin-bottom: 0px;
            }
            h6 {
                margin-bottom: 20px;
            }
        }
    }
    .footer-bottom {
        text-align: center;
        h5 {
            color: #555555;
        }
        span {
            color: #777777;
        }
    }
}