/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

.header {
    .header-top {
        text-align: right;
        background: $color-white;
        padding: 15px 0px;
        ul {
            li {
                list-style: none;
                margin: 0 10px;
                vertical-align: middle;
                &:after {
                    content: "";
                    background: $black;
                    height: 11px;
                    width: 2px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 20px;
                }
                &:last-child {
                    margin-right: 0px;
                    &:after {
                        display: none;
                    }
                }
                a {
                    font-size: 15px;
                    color: $black;
                    &:hover {
                        color: $color-red;
                    }
                }
                form {
                    display: inline-block;                   
                    .form-group {
                        margin-bottom: 0px;
                        display: inline-block;
                        margin-right: 15px;
                        vertical-align: middle;
                    }
                    label {
                        margin-bottom: 0px;
                    }
                }
                select {
                    &.form-control {
                        border: none;
                        padding: 0px;
                        font-size: 15px;
                        text-transform: $text-uppercase;
                        height: inherit;
                    }
                }
            }
        }
    }
    .header-middle {
        background: $black;
        padding: 5px 0px;
        overflow: hidden;
        .container {
            display: flex;
            justify-content: space-between;
        }
        .navbar-header {
            align-self: center;
        }
        .addtoCart {
            align-self: center;
            ul {
                display: flex;
                justify-content: space-between;
            }
            li {
                align-self: center;
                &:first-child {
                    margin-right: 20px;
                }
                a {
                    color: $color-white;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    text-transform: $text-uppercase;
                    &:before {
                        content: "\f07a";
                        font-family: FontAwesome;
                        margin-right: 8px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        .search-form {
            input[type="search"] {
                width: 630px;
                height: 47px;
                border-color: $color-white;
                box-shadow: none;
                padding: 2px 45px 2px 15px;
            }
            .form-group {
                margin-bottom: 0px;
                position: relative;
            }
            .search-submit {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: $black;
            min-width: inherit;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            &:before {
                content: "\f002";
                font-size: 16px;
                font-family: FontAwesome;
                text-align: center;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                position: absolute;
                width: 35px;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                &:before {
                    background: $color-red;
                    color: $color-white;
                    border-radius: 100%;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
        }
    }
    .header-bottom {
        border-bottom: 1px solid $black;
        .navbar {
            padding: 0px;
            .toggle {
                margin-left: 0px;
                margin-right: 40px;
                a {
                    font-size: 40px;
                    color: $black;  
                }
            }
        }
        .navbar-nav {
            >li {
                span {
                    color: #000;
                    font-family: $font-family;
                    font-weight: $font-weight-bold;
                }
                margin: 0 24px;
                @include breakpoint(x-normal) {
                    margin: 0 10px;
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
            >li >a {
                color: #000;
                font-family: $font-family;
                font-weight: $font-weight-bold;
                font-size: 15px;
                text-transform: $text-capitalize;
                letter-spacing: 0.03em;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                color: $black;
                display: inline-block;
            }
            .nav-link {
                padding: 0px !important;
            }
        }
    }
}

.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $color-red;
    background-color: transparent;
}


/*----------Sidebar Menu -----------*/

.main-side-canvas {
    background: #333;
    overflow: hidden;
    z-index: 1001;
    outline: 0;
    left: -250px;
    top: 0;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatex(-250px);
    transition: all 0.3s ease-in-out 0s;
    li {
        border-bottom: 1px solid #262626;
        a {
            padding: 10px 20px;
            display: block;
            font-size: 14px;
            color: $color-white;
            background: #333;
            &:hover {
                background: #414141;
            }
        }
    }
    h5 {
        color: $color-white;
        font-size: 18px;
        font-family: $font-family;
        font-weight: 700;
        padding: 10px 20px;
        background: #414141;
        margin-bottom: 0px;
        border-bottom: 1px solid #262626;
    }
    .card {
        border-bottom: 1px solid #262626;
        border-left: none;
        border-right: none;
        border-top: none;
        .card-header {
            position: relative;
            background: #333;
            border-radius: 0px;
            border: none;
            padding: 0px;
            h6 {
                margin-bottom: 0px;
                span {
                    position: absolute;
                    right: 15px;
                    color: #8e8e8e;
                    margin-right: 10px;
                }
                a {
                    color: $color-white;
                    text-transform: capitalize;
                     font-family: $font-family;
                    font-weight: $font-weight-regular;
                    padding: 10px 20px;
                    display: block;
                }
            }
            &:hover {
                background: #414141;
            }
        }
        .card-link {
            &:after {
                content: "\f0d7";
                font-family: FontAwesome;
                position: absolute;
                right: 10px;
                color: #03a9ff;
            }
            &.collapsed {
                &:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    position: absolute;
                    right: 10px;
                    color: #03a9ff;
                }
            }
        }
    }
    .panel-body {
        background: #333;
        ul {
            li {
                list-style: none;
                a {
                     padding-left: 30px;
                }
            }
        }
    }
}
.off-canvas-wrapper-inner {
    transform: translateX(0px);
    transition: all 0.3s ease-in-out 0s;
}

.sidebar-menu {
    background: #333;
    overflow-x: hidden;
    .off-canvas-wrapper-inner {
        transform: translateX(250px);
        transition: all 0.3s ease-in-out 0s;
    }
    .main-side-canvas {
        transform: translateX(0px);
        transition: all 0.3s ease-in-out 0s;
    }
    .wrapper {
        cursor: pointer;
        background: $color-white;
    }
    .menu-canvas {
        opacity: 1;
        pointer-events: auto;
        right: 0;
    }
}
.menu-canvas {
   background: rgba(37,41,51,.45);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out 0s;
}

.search-area {
  cursor:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg=="), progress;
    height: 100%;
    width: 100%;
}