/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*----- Common Css ------*/

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	z-index: 99;
	cursor: pointer;
	@include breakpoint(x-normal) {
	   font-size: 50px;
	}
	i {
		color: $color-pink;
	}
	&.slick-prev {
		left: 10px;
	}
	&.slick-next {
		right: 10px;
	}
}

/*----- Home Content -----*/

.section-block-homeContent {
	padding: 30px 0px;
	.adv-sec {
		margin-bottom: 30px;
		a {
			display: block;
		}
		.adv-img-sec1 {
			.featured-thumb {
				min-height: 578px;
				@include breakpoint(x-normal) {
				   min-height: 400px;
				}
			}
		}
		.adv-img-sec2 {
			.featured-thumb {
				min-height: 267px;
				@include background(center center, cover);
				position: relative;
				@include breakpoint(x-normal) {
				   min-height: 185px;
				}
				a {
					&:before {
						background: rgba(0, 0, 0, 0.5);
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						opacity: 0;
						transition: all 0.3s ease-in-out 0s;
					}
					&:hover {
						&:before {
							opacity: 1;
						}
					}
				}
				&:first-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}
 
/*----- Grid Slider -----*/

.grid-column {
	margin-bottom: 30px;
	h3 {
		background: $color-grey;
		margin-bottom: 0px;
		display: inline-block;
		padding: 10px 30px;
		text-transform: $text-uppercase;
	}
	.grid-slider {
		margin-bottom: 20px;
		a {
			display: block;
		}
		.featured-thumb {
			min-height: 385px;
			@include breakpoint(x-normal) {
			   min-height: 250px;
			}
		}
	}
	.grid-item {
		a {
			display: block;
		}
		.featured-thumb {
			height: 205px;
			@include background(center center, cover);
			position: relative;
			@include breakpoint(x-normal) {
				height: 150px;
			}
			&:before {
				background: rgba(0, 0, 0, 0.5);
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				transition: all 0.3s ease-in-out 0s;
			}
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
		h6 {
			margin-bottom: 0px;
			display: block;
			a {
				font-size: 14px;
				color: $black;
				font-weight: $font-weight-semibold;
				text-transform: $text-uppercase;
				display: inline-block;
				&:hover {
					color: $color-red;
				}
			}
		}
		.content {
			border-bottom: 1px solid $grey-bdr;
			padding: 10px 0px;
			margin-bottom: 5px;
		}
		.price-sec {
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.star {
				display: inline-block;
				align-items: center;
				li {
					margin: 0px;
					a {
						color: $color-yellow;
					}
					span {
						color: #8e8e8e;
					}
				}
			}
			.price {
				display: inline-block;
				float: right;
				align-items: center;
				span {
					display: block;
					.strick {
						text-decoration: line-through;
					}
					&:first-child {
						font-size: 13px;
						color: $black;
						display: inline-block;
						@include breakpoint(x-normal) {
							font-size: 11px;
						}
					}
					&:nth-child(2) {
						font-size: 16px;
						color: $color-red;
						font-weight: $font-weight-semibold;
						@include breakpoint(x-normal) {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}
 