/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


body,
html {
    font-family: $font-family;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1.1em;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}

/*---------- Heading ----------*/

h1 {
    font-size: 100px;
    text-transform: $text-uppercase;
    font-weight: $font-weight-regular;
}

h2, h2 a {
    font-size: 50px;
    text-transform: $text-uppercase;
    font-weight: $font-weight-regular;
    @include breakpoint(x-normal) {
       font-size: 30px;
    }
}

h3, h3 a {
    font-size: 30px;
    text-transform: $text-capitalize;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
    @include breakpoint(x-normal) {
       font-size: 24px;
    }
}

h4, h4 a {
    font-size: 24px;
    text-transform: $text-uppercase;
    font-weight: $font-weight-regular;
    color: $black;
    @include breakpoint(x-normal) {
       font-size: 19px;
    }
}

h5, h5 a {
    font-size: 18px;
    font-weight: $font-weight-semibold;
}

h6, h6 a {
    font-size: 16px;
    text-transform: $text-uppercase;
    font-weight: $font-weight-semibold;
    @include breakpoint(x-normal) {
       font-size: 14px;
    }
}

p {
    font-size: 16px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: 20px;
    color: #777777;
    @include breakpoint(x-normal) {
       font-size: 14px;
    }
}

span {
    font-family: $font-family;
    font-size: 14px;
    font-weight: $font-weight-regular;
    color: #464646;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: $font-family;
    white-space: normal;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $font-family;
    padding: 8px 15px;
    border: 1px solid;
    transition: all 0.3s ease-in-out 0s;
    text-transform: $text-uppercase;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border-radius: 50px;
    line-height: 2.1em;
    min-width: 147px;
    color: $color-white;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid;
    box-shadow: none;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="text"] {
    text-transform: capitalize !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
    padding: 2px 20px;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $font-family;
    font-weight: $font-weight-light;
    color: $black;
    font-size: 18px;
    @include breakpoint(x-normal) {
        font-size: 15px;
        padding: 2px 15px;
    }
}

textarea.form-control {
    padding: 20px;
    resize: none;
    @include breakpoint(x-normal) {
        padding: 15px;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
    height: 55px;
    @include breakpoint(x-normal) {
        height: 45px;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.slick-slide {
    outline: none;
}

.form-control::-webkit-input-placeholder { 
    color:#b5b2b2;
}
.form-control::-moz-placeholder { 
    color:#b5b2b2;
}
.form-control:-ms-input-placeholder { 
    color:#b5b2b2; 
}
input:-moz-placeholder { 
    color:#b5b2b2;
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #cccccc;
    height: 50px;
    outline: medium none;
    padding: 5px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: white url("../images/select-arrow.png") no-repeat scroll 80% center;
}

select::-ms-expand {
    display: none;
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease 0s;
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    color: $color-red;
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}
