//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #151515;
$color-grey: #e8ebee;
$color-pink: #fe81b8;
$grey-bdr: #ebebeb;
$color-yellow: #e99a00;
$color-red: #e70000;

//Font Family 
$font-family: 'Open Sans', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;